:root{
  /* color */
  --color-blue: #0756BC;
  --color-grey: #9C9C9C;

  /*font size*/
  --font-large: 64px;
  --font-small: 18px;
}

*{
  font-family: 'Anton', sans-serif;
  font-family: 'Do Hyeon', sans-serif;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  margin-top: 5em;
  width: 25rem;
  height: 100%;
  padding: 2em 0;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mainLogo{
  font-size: var(--font-large);
  color: var(--color-blue);
  margin-top: 0;
}

.sideLogo{
  margin-bottom: 0;
  text-align: left;
  font-size: var(--font-small);
}

.logoImage{
  width: 10em;
  height: 10em;
}

.button{
  margin-top: 5em;
  white-space: nowrap;
  width: 30%;
  min-width: 10em;
  height: 2.5em;
  outline: none;
  font-size: var(--font-small);
}