:root{

  /* color */
  --color-orange: #FF9C55;
  --color-light-grey: #f5f5f5;
  --color-white: #ffffff;
  --color-black: #201F1E;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
