:root{
  /* color */
  --color-blue: #0756BC;
  --color-grey: #9C9C9C;

  /*font size*/
  --font-large: 64px;

}

*{
  font-family: 'Anton', sans-serif;
  font-family: 'Do Hyeon', sans-serif;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  margin-top: 5em;
  max-width: 60%;
  height: 100%;
  background-color: transparent;
}

.logo{
  display: flex;
  flex-direction: column;
}

.mainLogo{
  font-size: var(--font-large);
  color: var(--color-blue);
  margin-top: 0;
}

.sideLogo{
  margin-bottom: 0;
  text-align: left;
}

.logoImage{
  width: 10em;
  height: 10em;
}

.button{
  margin-top: 5em;
  width: 30%;
  outline: none;
}