@import '../../App.module.css';

.meetList{
  position: fixed;

  width: 100%;
  margin: auto;
  top: 35%;

}

.list{
  list-style: none;
}

.meet{
  width: 16rem;
  background-color: green;
  border: 1px solid var(--color-light-grey);
}

.infoLocation{
  display: flex;
  flex-direction: row;

}

.infoLocation span{
  font-size: var(--font-micro);
}