@import '../../App.module.css';

.footer{
  width: 100%;
  padding: 0.5rem;

  position: fixed;
  bottom: 0;

  background-color: var(--color-orange);
  color: var(--color-white);

  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: var(--font-micro)
}

p{
  margin: 0 0.3rem;
}