@value makerGreen, makerWhite,  makerLightPink from '../../common/colors.css';

* {
  margin: 0;
}
.login{
  text-align: center;
  background-color: makerWhite;
}
.title{
}
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
}

.item {
  width: 50%;
  border: 0.15em solid makerGreen;
  padding: 0.3em;
  margin: 0.4em;
  border-radius: 0.5em;
}

.button {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: makerLightPink;
}