@import '../../App.module.css';
@import '../list/meetList.module.css';
 *{
  font-family: var(--font-famiy-pretendard-regular);
 }

.meet{
  /* width: 288px; */
  width: 100%;
  height: 180px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;

}

img{
  width: 100%;
  object-fit: cover;
}

.infoImage{
  width: 100%;
  height: 4rem;
  background-color: lightyellow;
  border-radius: 1rem 1rem 0 0;
}

.infoLocation{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoDeparture, .infoArrival{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 97px;
  height: 17px;

  font-family: var(--font-famiy-pretendard-regular);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  margin-top: 15px;
  padding: 0 px;
  
}

.infoDeparture p, .infoArrival p{
  width: 30px;
  height: 14px;

  text-align: center;
  margin: 5px;
  font-family: var(--font-famiy-pretendard-regular);
  font-weight: 300;
  font-size: 10px;
  color: var(--color-orange);

  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

}


.arrow{
  position: relative;
  margin: 0 0.5rem;
  top: 1.2rem;
  width: 14px;
  height: 14px;
  color: var(--color-orange);
}

.infoSet{
  height: 2.5rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right:0.5rem;
}

.infoSet div{
  text-align: center;
  font-size: 10px;
  font-weight: 300;
}

.infoSet p{
  font-size: 10px;
  font-weight: 300;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-right: 10px;
  padding: 0 3px;
  color: var(--color-orange);
}

.infoRecruitment{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 15px;

  font-family: var(--font-famiy-pretendard-regular);
}

.infoTime{
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-family: var(--font-famiy-pretendard-regular);
}


