@import '../../App.module.css';

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button{
  width: 4rem;
  font-size: 0.7rem;
}

.navbar{
  z-index: 1;
  width: 100%;
  height: 71px;

  position: fixed;
  
  background-color: var(--color-white);
  border-bottom: var(--border-weight) solid var(--color-light-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-family: 'LeferiPoint-BlackA';
  font-size: var(--font-medium);
  font-weight: bold;
  color: var(--color-orange);
  padding-left: 10vw; 
  cursor: pointer;
}

.navbarBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10vw;
}

.btn{
  font-family: var(--font-famiy-pretendard-regular);
  font-size: 15px;
  font-weight: var(--weight-pretendard-light);
  height: 1.2rem;
  padding: 0;
  cursor: pointer;
}